@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.root {
  color: black;
}

h1{
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  font-family: "Play", sans-serif;
  border-bottom: solid white;
}

.flex{
  display: flex;
  height: 700px;
}