.input {
  background-color: grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: larger;
}

.button {
  height: 50px;
  width: 310px;
  text-decoration: none;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid rgb(71, 71, 71);
  background: rgb(71, 71, 71);
  color: #fff;
  transition: 0.5s;
}

button:hover {
	color: #333;
	background: #fff;
}

.part {
  height: 40px;
  width: 150px;
}

.wn {
  display: flex;
  gap: 0px 10px;
}

label {
  background-color: rgb(210, 210, 210);
  height: 30px;
}

.inputText {
  height: 30px;
}

.lastTimeRecord {
  height: 30px;
  width: 300px;
}
