.input {
  background-color: grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
 
}

.button {
  height: 50px;
  width: 310px;
}

.part {
  height: 40px;
  width: 150px;
}

.wn {
  display: flex;
  gap: 0px 10px;
}

input {
  height: 30px;
}

label {
    background-color: rgb(210, 210, 210);
    height: 30px;
}
