table {
  border-collapse: collapse;
  border: solid 2px #333;
  margin: auto;
  color: #333;
}
th,
td {
  border: solid 2px #606060;

}
.headline {
  background-color: rgb(218, 218, 218);
}

.record {
  background-color: grey;
  overflow-y: scroll;
}

.recordData {
  background-color: white;
}

.sort {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
}

.deleteText{
  margin-left: 30px;
  width: 80px;
 
}
